* {
    margin: 20;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1e2b66;
    font-size: 12px;
    text-align: justify;
}

header {
    margin-bottom: 30px;
}

body {
    max-width: 800px;
    margin: 0 auto;
}


.title {
    padding: .8em 1.8em;
    border: 2px solid #1e2b66;
    position: relative;
    overflow: hidden;
    width: 270px;
    background-color: transparent;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    font-weight: 700;
    color: #1e2b66;
}

.title::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #1e2b66;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.title:hover::before {
    width: 105%;
}

.title:hover {
    color: #dddddd;
}

.subtitle {
    border-top: 1px solid #1e2b66;
    margin-top: auto;
    padding-top: 5px;
    text-align: center;
    font-size: 14px;
}

.title:hover .subtitle {
    color: #dddddd;
    border-color: #dddddd;
    transition: .5s ease;
}

.sidebar {
    display: inline-block;
    z-index: -2;
    height: 85vh;
}

.left-sidebar {
    width: 37%;
    HEIGHT: 100%;
    float: left;
    padding: 10px;
    padding-top: 0px;
    border: 1px solid #dcdcdc;
    background-color: #dcdcdc;
    z-index: -2;
    padding-bottom: 34px;
}

.right-sidebar {
    padding: 10px;
    padding-top: 0px;
    float: right;
    width: 63%;
}

.photo-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.scan-me {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    border-radius: 10px;
    border: 3px solid #010a0a;
    color: #000000;
    font-size: larger;
    transition: 0.5s ease;
    opacity: 0;
    z-index: 2;
}

.photo-container {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
}

.photo-container:hover .scan-me {
    opacity: 1;
}

.photo-container:hover .githubqr {
    opacity: 0.2;
}

.githubqr {
    border-radius: 10px;
    border: 3px ridge #1e2b66;
    box-shadow: 4px 3px 3px #1e2b66;
    width: 100%;
    height: auto;
    display: block;
    z-index: 1;
    justify-content: center;
    align-items: center;
}


.title2 {
    font-size: 15px;
    font-weight: 600;
    background: transparent;
    padding-bottom: 5px;
    border: none;
    color: #1e2b66;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
    z-index: 1;
}


.title2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #1e2b66;
}

.title2:hover {
    color: #dddddd;
    transition-delay: 0.3s;
}

.title2:hover::before {
    width: 100%;
}

.title2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #1e2b66;
    transition: 0.4s ease;
    z-index: -1;
}

.title2:hover::after {
    height: 100%;
    transition-delay: 0s;
    color: aliceblue;
}

ul {
    list-style-type: square;
    padding-left: 10px;
}

li {
    margin-bottom: 5px;
}

.box {
    margin: 10px 10px 10px 10px;
    padding: 10px;
}

.box:hover {
    background-color: #f1f1f1;
    border: 1px solid #1e2b66;
    transition: 0.7s ease;
}

.box:active {
    scale: 0.95;
}

.centres-interet {
    justify-content: left;
}

.right-sidebar .box {
    margin: 1px;
}